body {
  background-image: url(../images/fonfoNosotros.jpg) no-repeat center center fixed ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nosotros-background {
  padding: 20px;
}

.descripcion {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  max-width: 90%;
  background: rgba(249, 249, 249, 0.9);
  color: black;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contenedorImagenes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarjetaImagen {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(249, 249, 249, 0.9);
  color: black;
  border-radius: 15px;
  margin: 15px;
  width: 100%;
  max-width: 200px;
}

.fotoNosotros {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .descripcion {
    margin: 20px auto;
    padding: 10px;
  }

  .tarjetaImagen {
    margin: 10px;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .descripcion {
    margin: 10px auto;
    padding: 10px;
  }

  .tarjetaImagen {
    margin: 5px;
    width: 100%;
  }
}